body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  h1 {
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }

  button1 {
    padding: 10px 20px;
    background-color: red;
    border: none;
    font-size: small;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }

  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

.split-screen {
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  